aiofiles
aiohttp
aiolimiter
azure-identity
azure-search-documents
azure-storage-blob
beautifulsoup4
clarivate.wos-starter.client
click
datashaper
datasets
deepspeed
devtools
dspy-ai
duckduckgo-search
environs
fastapi
fastparquet
gradio
graspologic
hnswlib
httpx
lancedb
langchain-core
langchain-community
matplotlib
nano-vectordb
neo4j
nest-asyncio
networkx
nltk
numpy
ollama
openai
pandas
playwright
plotly
pyaml-env
pyarrow
pydantic
python-dotenv
PyYAML
requests
rich
scipy
sentence-transformers
swifter
tenacity
tiktoken
torch
tqdm
transformers
typing-extensions
uvicorn[standard]
vllm
wandb
xxhash
